.back-photo {
    background-image: url('./welcome_image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 1;
}