h1 {
    text-align: center;
    font-size: 2em;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #3b82f680;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

th,
td {
    padding: 12px;
}

th {
    background-color: #3b82f680;
    color: white;
}

button {
    background-color: #3b82f680;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #3b82f680;
}


.form-group {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-container {
    display: flex;
    align-items: center;
    width: 100%;
}

input[type="text"],
select {
    width: calc(100% - 50px);
    /* Adjust width to leave space for unit */
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.unit {
    margin-left: 10px;
    font-weight: bold;
}

.btn-submit {
    background-color: #3b82f680;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    display: block;
    width: 100%;
    margin-top: 20px;
}

.btn-submit:hover {
    background-color: #3b82f680;
}

.modal img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}