<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WELCOME!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles2.css') }}">
</head>

<body class="fade-in">

    <section class="hero background-image back-photo is-fullheight">

        <div class="logo-container">
            <img src="{{ url_for('static', filename='codin.png') }}" alt="CODIN Logo">
        </div>

        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-7">
                        <div class="box welcome-box">
                            <h1 class="title is-1 ">Welcome to thermal separation calculator in dead end connections</h1>
                            <p class="subtitle is-3">Go to the next page, to start calculations</p>
                            <a href="{{ url_for('form') }}" class="button is-primary is-large">START</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <strong>Steel End-Plate Calculator</strong> by
                <a href="https://codin.com.pl" target="_blank">CODIN Mateusz Laska</a>.
            </p>
        </div>
    </footer>

</body>

</html>